<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" xmlns:th="http://thymeleaf.org">
    <title>All Users</title>
</head>
<body>
    <ul class="user-list" th:each="user : ${users}">
        <li class="user-item">
            <a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getFullName()}">Name</a>
            <div class="user-details">
                <p><strong>Birth Year</strong> <span th:text="${user.getBirthYear()}">2005</span></p>
            </div>
        </li>
    </ul>

    <hr>
    <a class="create-link" href="/users/new">Create New User</a>
</body>
</html>
