<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://thymeleaf.org">
    <title>Edit User</title>
</head>
<body>
  <h2>Edit User</h2>

  <form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="fullName">Enter Full Name</label>
    <input type="text" th:field="*{fullName}" id="fullName" placeholder="Full Name"/>
    <div style="color:red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Full Name Error</div>

    <label for="birthYear">Enter Birth Year</label>
    <input type="text" th:field="*{birthYear}" id="birthYear" placeholder="Birth Year"/>
    <div style="color:red" th:if="${#fields.hasErrors('birthYear')}" th:errors="*{birthYear}">Birth Year Error</div>

    <input type="submit" value="Update!"/>
  </form>
</body>
</html>