<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://thymeleaf.org">
    <title>Create New User</title>
</head>
<body>
    <form th:method="POST" th:action="@{/users}" th:object="${user}">
        <label for="fullName">Enter full name:</label>
        <input type="text" th:field="*{fullName}" id="fullName" placeholder="Full Name"/>

        <label for="birthYear">Enter birth year</label>
        <input type="text" th:field="*{birthYear}" id="birthYear" placeholder="Birth Year"/>

        <input type="submit" value="Create!"/>
    </form>

    <a href="/users" class="back-link">Back to list</a>
</body>
</html>