<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User</title>
</head>
<body>
  <h1> User details </h1>
  <p><strong>Full Name</strong> <span th:text="${user.fullName}">VALUE</span></p>
  <p><strong>Birth Year</strong> <span th:text="${user.birthYear}">VALUE</span></p>

    <div class="action-links">
        <a th:href="@{/users/{id}/edit(id=${user.id})}">Edit</a>
        <a th:href="@{/users}">Back to List</a>
    </div>

    <br>
    <form th:method="DELETE" th:action="@{/users/{id}(id=${user.id})}">
        <input type="submit" value="DELETE!"/>
    </form>
</body>
</html>