<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://thymeleaf.org">
    <title>Edit Book</title>
</head>
<body>
<h2>Edit Book</h2>

<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
    <label for="name">Enter Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name"/>

    <label for="author">Enter Author</label>
    <input type="text" th:field="*{author}" id="author" placeholder="Author"/>

    <label for="year">Enter Year</label>
    <input type="text" th:field="*{year}" id="year" placeholder="Year"/>

    <input type="submit" value="Update!"/>
</form>
</body>
</html>