<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://thymeleaf.org">
    <title>Create New Book</title>
</head>
<body>
<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <label for="name">Enter Name:</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name"/>

    <label for="author"> Enter Author:</label>
    <input type="text" th:field="*{author}" id="author"/>

    <label for="year">Enter year</label>
    <input type="text" th:field="*{year}" id="year" placeholder="Year"/>

    <input type="submit" value="Add!"/>
</form>

<a href="/books" class="back-link">Back to list</a>
</body>
</html>